openapi: 3.0.3
info:
  title: MemoWorks API
  description: API REST para la aplicación MemoWorks (backend). Especificación generada automáticamente a partir del código fuente.
  version: 1.0.0
servers:
  - url: https://api.memoworks.com/v1
    description: Servidor de producción
  - url: http://localhost:8080/api/v1
    description: Servidor local
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    UserRequestDTO:
      type: object
      properties:
        name:
          type: string
          maxLength: 25
        surnames:
          type: string
          maxLength: 25
        username:
          type: string
          maxLength: 20
        phoneNumber:
          type: string
          maxLength: 20
        email:
          type: string
          format: email
          maxLength: 50
        password:
          type: string
          minLength: 8
          maxLength: 20
        tasks:
          type: array
          items:
            type: integer
            description: ID de la tarea (objeto Task completo se omite)
        rol:
          type: string
          description: Rol del usuario (VER enum Rol en código)
        avatar:
          type: string
          description: URL o nombre de fichero del avatar
        groups:
          type: array
          items:
            type: integer
            description: ID de grupo (objeto Group completo se omite)
      required: []

    UserResponseDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        surnames:
          type: string
        username:
          type: string
        phoneNumber:
          type: string
        email:
          type: string
          format: email
        password:
          type: string
        tasksIds:
          type: array
          items:
            type: integer
        rol:
          type: string
        avatar:
          type: string
        groupIds:
          type: array
          items:
            type: integer

    GroupRequestDTO:
      type: object
      properties:
        name:
          type: string
          maxLength: 25
        description:
          type: string
          maxLength: 100
        adminUser:
          type: integer
          description: ID del usuario administrador (objeto User en código)
        users:
          type: array
          items:
            type: integer
            description: ID de usuario
        image:
          type: string

    GroupResponseDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        description:
          type: string
        adminUser:
          type: integer
          description: ID del usuario administrador
        users:
          type: array
          items:
            type: integer
        image:
          type: string

    TaskRequestDTO:
      type: object
      properties:
        title:
          type: string
          maxLength: 25
        description:
          type: string
          maxLength: 500
        date:
          type: string
          format: date
        time:
          type: string
          example: "13:45:00"
        assigmentFor:
          type: integer
          description: ID del usuario asignado
        status:
          type: boolean
        labels:
          type: array
          items:
            type: string
        image:
          type: string
      required: [date, time, assigmentFor, status, labels]

    TaskResponseDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        description:
          type: string
        date:
          type: string
          format: date
        time:
          type: string
        assigmentFor:
          type: integer
          description: ID del usuario asignado
        status:
          type: boolean
        labels:
          type: array
          items:
            type: string
        image:
          type: string

    NotificationRequestDTO:
      type: object
      properties:
        title:
          type: string
        message:
          type: string
        createdAt:
          type: string
          format: date-time
        userEmail:
          type: string
          format: email

    NotificationResponseDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        message:
          type: string
        createdAt:
          type: string
          format: date-time
        userEmail:
          type: string
          format: email

    PasswordForgotRequestDTO:
      type: object
      properties:
        email:
          type: string
          format: email
      required: [email]

    PasswordResetConfirmDTO:
      type: object
      properties:
        token:
          type: string
        newPassword:
          type: string
      required: [token, newPassword]

    UserLoginDTO:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
      required: [email, password]

paths:
  /api/v1/auth/authenticate:
    post:
      summary: Autenticar usuario
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLoginDTO'
      responses:
        '200':
          description: Devuelve JWT en body y en cookie
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
  /api/v1/auth/logout:
    post:
      summary: Cerrar sesión (añade token a blacklist y elimina cookie)
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Logout exitoso
  /api/v1/auth/register:
    post:
      summary: Registrar nuevo usuario
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRequestDTO'
      responses:
        '200':
          description: Usuario registrado y token devuelto

  /api/v1/auth/password/forgot:
    post:
      summary: Solicitar restablecimiento de contraseña
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordForgotRequestDTO'
      responses:
        '200':
          description: Respuesta genérica indicando envío

  /api/v1/auth/password/verify:
    get:
      summary: Verificar token de restablecimiento
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Token válido
        '400':
          description: Token inválido

  /api/v1/auth/password/reset:
    post:
      summary: Confirmar restablecimiento de contraseña
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetConfirmDTO'
      responses:
        '200':
          description: Contraseña actualizada

  /api/v1/users:
    get:
      summary: Listar usuarios (paginado)
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: size
          in: query
          schema:
            type: integer
        - name: sort
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Lista paginada de usuarios
          content:
            application/json:
              schema:
                type: object
    post:
      summary: Crear usuario
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRequestDTO'
      responses:
        '201':
          description: Usuario creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponseDTO'

  /api/v1/users/id/{id}:
    get:
      summary: Obtener usuario por ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Usuario
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponseDTO'

  /api/v1/users/username/{username}:
    get:
      summary: Obtener usuario por nombre de usuario
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Usuario
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponseDTO'

  /api/v1/users/email/{email}:
    get:
      summary: Obtener usuario por email
      parameters:
        - name: email
          in: path
          required: true
          schema:
            type: string
            format: email
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Usuario
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponseDTO'

  /api/v1/users/{id}:
    put:
      summary: Actualizar usuario
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRequestDTO'
      responses:
        '200':
          description: Usuario actualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponseDTO'
    delete:
      summary: Eliminar usuario
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Usuario eliminado

  /api/v1/users/email-exists:
    get:
      summary: Verificar existencia de correo
      parameters:
        - name: email
          in: query
          schema:
            type: string
            format: email
      responses:
        '200':
          description: Resultado
          content:
            application/json:
              schema:
                type: object
                properties:
                  exists:
                    type: boolean

  /api/v1/users/username-exists:
    get:
      summary: Verificar existencia de username
      parameters:
        - name: username
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Resultado
          content:
            application/json:
              schema:
                type: object
                properties:
                  exists:
                    type: boolean

  /api/v1/users/me:
    get:
      summary: Obtener perfil del usuario autenticado
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Perfil del usuario
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponseDTO'

  /api/v1/users/{id}/avatar:
    post:
      summary: Subir avatar de usuario
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Avatar subido
    get:
      summary: Obtener avatar por id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Imagen devuelta
          content:
            image/png: {}
            image/jpeg: {}

  /api/v1/users/me/avatar:
    get:
      summary: Obtener avatar del usuario autenticado
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Imagen devuelta
          content:
            image/png: {}
            image/jpeg: {}

  /api/v1/groups:
    get:
      summary: Listar grupos (paginado)
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: size
          in: query
          schema:
            type: integer
        - name: sort
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Lista paginada de grupos
    post:
      summary: Crear grupo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupRequestDTO'
      responses:
        '201':
          description: Grupo creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponseDTO'

  /api/v1/groups/myGroups/{email}:
    get:
      summary: Listar grupos por email de usuario
      parameters:
        - name: email
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Lista paginada de grupos

  /api/v1/groups/id/{id}:
    get:
      summary: Obtener grupo por ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Grupo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponseDTO'

  /api/v1/groups/name/{name}:
    get:
      summary: Obtener grupo por nombre
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Grupo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponseDTO'

  /api/v1/groups/{id}:
    put:
      summary: Actualizar grupo
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupRequestDTO'
      responses:
        '200':
          description: Grupo actualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponseDTO'
    delete:
      summary: Eliminar grupo
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Grupo eliminado

  /api/v1/groups/{id}/avatar:
    post:
      summary: Subir avatar de grupo
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Avatar subido
    get:
      summary: Obtener avatar por id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Imagen devuelta
          content:
            image/png: {}
            image/jpeg: {}

  /api/v1/groups/me/avatar:
    get:
      summary: Obtener avatar del usuario autenticado (grupos)
      responses:
        '200':
          description: Imagen devuelta

  /api/v1/tasks:
    get:
      summary: Listar tareas (paginado)
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: size
          in: query
          schema:
            type: integer
        - name: sort
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Lista paginada de tareas
    post:
      summary: Crear tarea
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskRequestDTO'
      responses:
        '201':
          description: Tarea creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponseDTO'

  /api/v1/tasks/myTasks/{email}:
    get:
      summary: Listar tareas por email de usuario
      parameters:
        - name: email
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Lista paginada de tareas

  /api/v1/tasks/title/{title}:
    get:
      summary: Obtener tarea por título
      parameters:
        - name: title
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Tarea
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponseDTO'

  /api/v1/tasks/id/{id}:
    get:
      summary: Obtener tarea por ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Tarea
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponseDTO'

  /api/v1/tasks/{id}:
    put:
      summary: Actualizar tarea
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskRequestDTO'
      responses:
        '200':
          description: Tarea actualizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponseDTO'
    delete:
      summary: Eliminar tarea
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Tarea eliminada

  /api/v1/tasks/{id}/avatar:
    post:
      summary: Subir avatar de tarea
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Avatar subido
    get:
      summary: Obtener avatar por id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Imagen devuelta
          content:
            image/png: {}
            image/jpeg: {}

  /api/v1/tasks/me/avatar:
    get:
      summary: Obtener avatar del usuario autenticado (tareas)
      responses:
        '200':
          description: Imagen devuelta

  /api/v1/notifications:
    get:
      summary: Listar notificaciones (paginado)
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: size
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Lista paginada de notificaciones
    post:
      summary: Crear notificación
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationRequestDTO'
      responses:
        '201':
          description: Notificación creada

  /api/v1/notifications/myNotifications/{email}:
    get:
      summary: Listar notificaciones por email de usuario
      parameters:
        - name: email
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Lista paginada de notificaciones

x-generated-by: openai-copilot

